<div id="<%= dom_id grid %>">
  <p>
    <strong>Outcome:</strong>
    <%= grid.outcome %>
  </p>

  <p>
    <strong>Rows:</strong>
    <%= grid.rows %>
  </p>

  <p>
    <strong>Dimension:</strong>
    <%= grid.dimension %>
  </p>

</div>
