<p style="color: green"><%= notice %></p>

<h1>Grids</h1>

<%= render "new_grid", grid: @grid %>

<div id="grids">
  <% @grids.each do |grid| %>
    <%= render grid %>
    <p>
      <%= link_to "Show this grid", grid %>
    </p>
  <% end %>
</div>
